{% extends 'base.html.twig' %}

{% block title %}Registre - Accueil{% endblock %}

{% block body %}
    <div class="container-fluid banniere border">

    </div>
    <div class="container">
        <p class="text-center p-5">Bienvenue sur le registre de modération de cosmopoly, si vous êtes utilisateur sur le site « cosmopoly.site » et sur le discord qui est relié, cet endroit fait office pour vous d’un suivi de vos sanctions de discord et/ou du site. Il vous servira en cas de ban temporaire, mute ou autres sanctions à longue durée.</p>
        <div class="row justify-content-center">
            <a href="" class="btn-primary p-2 rounded"> Accéder à mon profil</a>
        </div>
    </div>

{% endblock %}
