<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img class="logo" src="{{ asset('assets/images/logo cosmo.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Déconnexion</a>
                </li>                    
                <li class="nav-item dropdown">

                </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar--moderation navbar navbar-expand-lg navbar-dark">
                
                <div class="row">
                    <h3 class="col-12 title-modo">Registre de cosmopoly</h3>
                    <p class="col-12 title-modo">Service de modération</p>
                </div>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sanction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Candidature</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Borderline</a>
                    </li>                          

                    </ul>
                </div>
            </nav>
        {% block body %}
        {% endblock %}
         <footer class="container-fluid footer mt-5">
            <div class="row p-3 justify-content-center">
                <div class="row col-12 justify-content-left">
                    <a href="https://discord.gg/sZNFD8F" target="_blank" title="lien vers le discord de cosmopoly" class="btn btn-light mr-1 btn-footer">Discord</a>
                    <a href="https://cosmopoly.site/" title="lien vers le site de cosmopoly" target="_blank" class="btn btn-light btn-footer">Cosmopoly</a>
                </div>
                <img src="{{ asset('assets/images/logowhite.png') }}" alt="">
            </div>
         </footer>   
        {% block javascripts %}{% endblock %}
    </body>
</html>
